<library path="lib">
  <class name="Joystick" type="joystick.joystick.Joystick" base_class_type="rqt_gui_py::Plugin">
    <description>
      Joystick control gui
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Joystick</label>
      <icon type="theme">face-monkey</icon>
      <statustip>Joystick interface</statustip>
    </qtgui>
  </class>
</library>
