<library path="lib">
  <class name="SetupPanel" type="setup_panel.setup_panel.SetupPanel" base_class_type="rqt_gui_py::Plugin">
    <description>
      Setup panel gui
    </description>
    <qtgui>
<!--      &lt;!&ndash; optional grouping...-->
<!--      <group>-->
<!--        <label>Group</label>-->
<!--      </group>-->
<!--      <group>-->
<!--        <label>Subgroup</label>-->
<!--      </group>-->
<!--      &ndash;&gt;-->
      <label>Setup Panel</label>
      <icon type="theme">emblem-system</icon>
      <statustip>Setup panel interface</statustip>
    </qtgui>
  </class>
</library>
